*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: var(--color-black);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  transition: var(--transition-200);

  &:hover,
  &:focus-visible {
    color: var(--color-active);
  }
}

video {
  display: block;
  width: 100%;
  height: auto;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}
video::-moz-media-controls-fullscreen-button {
  display: none;
}
video::-ms-fullscreen-button {
  display: none;
}