:root {
  // Colors
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: #F2F2F2;
  --color-active: #308E21;
  --color-error: #CC0000;
  --color-rect: rgba(0, 255, 0, 0.2);
  --color-rect-border: rgba(0, 255, 0, 0.8);

  // Transitions
  --transition-200: 0.2s ease-in;
}