.text-button {
  border: 1px solid var(--color-black);
  border-radius: 5px;
  padding: 5px 9px;
  transition: color var(--transition-200),
    border-color var(--transition-200);

  &:hover,
  &:focus-visible {
    color: var(--color-active);
    border-color: var(--color-active);
  }
}